	.share-url-image {
		float:left;
		position:relative;
		cursor:pointer;
	}
	
	.share-url-image-source {
		z-index:100;
		position:relative;
	}
	
	a {
		display: inline;
	}
	
	#subdiv {
		border: solid black 1px;
	}
